#########################
### DATA MANIPULATION ###
#########################
numpy                       # NumPy: supporto per array e matrici numeriche grandi e multi-dimensionali
pandas                      # pandas: struttura dati di serie temporali e strumenti di analisi dei dati
polars                      # polars: una libreria DataFrame veloce e leggera

#######################
### DATA CONNECTORS ###
#######################
mysql-connector-python      # Connettore MySQL per Python: una libreria per connettere Python a database MySQL
psycopg2-binary             # Psycopg2: un adattatore di database PostgreSQL per Python
pymongo                     # Connettore per MongoDB in Python
sqlalchemy                  # SQLAlchemy è un toolkit SQL e Object-Relational Mapping (ORM) per Python.

##########################
### DATA VISUALIZATION ###
##########################
matplotlib                  # Libreria per la creazione di grafici statici, animati e interattivi in Python
seaborn                     # Libreria basata su matplotlib per la creazione di grafici statistici attraenti
altair                      # Libreria per la creazione di grafici interattivi e dichiarativi
graphviz                    # Strumento per la visualizzazione di grafi
plotly                      # Libreria per la creazione di grafici interattivi

########################
### MACHINE LEARNING ###
########################
scikit-learn                # Libreria per algoritmi di apprendimento automatico e analisi dei dati
xgboost                     # Libreria per l'implementazione di algoritmi di boosting
scipy                       # Libreria per la scienza e l'ingegneria, utile per l'analisi scientifica dei dati
statsmodels                 # Libreria per la stima di modelli statistici
