####################
### DATA SCIENCE ###
####################
numpy                       # NumPy: supporto per array e matrici numeriche grandi e multi-dimensionali
pandas                      # pandas: struttura dati di serie temporali e strumenti di analisi dei dati
polars                      # polars: una libreria DataFrame veloce e leggera
scikit-learn                # scikit-learn: strumenti per l'apprendimento automatico e l'analisi dei dati

#######################
### DATA CONNECTORS ###
#######################
mysql-connector-python      # Connettore MySQL per Python: una libreria per connettere Python a database MySQL
psycopg2-binary             # Psycopg2: un adattatore di database PostgreSQL per Python

##########################
### DATA VISUALIZATION ###
##########################
matplotlib                  # Matplotlib: una libreria per creare visualizzazioni statiche, animate e interattive in Python
seaborn                     # Seaborn: una libreria di visualizzazione dati basata su matplotlib per la creazione di grafici statistici attraenti
altair                      # Altair: una libreria di visualizzazione dati dichiarativa per creare grafici interattivi